.create-password-page {
  &__title {
    font-size: 34px;
  }

  &__inner {
    position: relative;
  }

  &__login {
    margin-bottom: 16px;
  }

  &__tooltip {
    position: absolute;
    right: -214px;
    top: 24px;
  }

  &__valid {
    text-decoration: line-through;
  }
}
