.create-password-page {
  &__title {
    font-size: 34px;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__tooltip {
    position: absolute;
    right: -214px;
    top: 24px;
  }

  &__login {
    margin-bottom: 16px;
  }
}

.test-e {
  text-decoration: line-through;
}

.ddd {
  position: relative;
}
