.reset-page {
  &__back-link {
    position: absolute;
    left: 24px;
    top: 24px;

    img {
      width: 28px;
      height: 28px;
    }

    @include desktop {
      left: 30px;
      top: 30px;
    }
  }

  &__title {
    font-size: 35px;
  }

  &__description {
    margin-bottom: 24px;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__prefix {
    margin-top: 22px;
    border-radius: 34px;
    padding: 16px 56px;
    width: 100%;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.4;
    color: inherit;
    background-color: #e6f2f480;

    @include desktop {
      padding: 22px;
    }
  }

  &__text {
    margin-top: 12px;
  }
}
